<html lang="en">
    <%- include('./partials/head.ejs')  %> 
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1 class="text-center">QAP3 Integrated Full-Stack Application</h1>
        <h2></h2>
        <%- include('./partials/script.ejs') %> 
    </body>
</html>