<html lang="en">
    <%- include('./partials/head.ejs')  %> 
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="text-center">
        <h1 class="">QAP3 Integrated Full-Stack Application</h1>
        <h2 class=" mt-4">Welcome To DVD Rentals</h2>
        <h3 class=" mt-3">Home to Everything DVD</h3>
        <img  class="img-fluid rounded mb-2" src="https://source.unsplash.com/6Nbo9Pn0yJA"  style="height: 65%; width: 60%;"  alt="picture of a DVD Store">
    </div>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/script.ejs') %> 
       
    </body>
</html>